* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   position: relative;
   font-family: 'Catamaran', sans-serif;
}

.container {
      min-height:100%;
  background:linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url("app/assets/clouds-background.jpg");
  background-size:cover;
}

header {
   background-color: white;
   color: #5D2166;
   text-align: center;
}

h1 {
   font-family: 'Satisfy', cursive;
   color: #fff;
   font-size: 4rem;
}

h2, h3 {
   font-family: 'Sansita', sans-serif;
      color: #fff;
}


.top-container {
   width: 750px;
   margin: 0 auto;
   text-align: center;
   margin-top: 5rem;
}
.weather-search {
   width: 750px;
   margin: 0 auto;
   height: 3rem;
   display: flex;
   margin-top: 2rem;
}

.weather-search__input {
   width: 75%;
   text-align: center;
   font-size: 1.2rem;
}

.weather-search__btn {
   width: 25%;
   font-size: 1.2rem;
}

.city-info {
   display: flex;
   flex-direction: column;
   width: 70rem;
   margin: 0 auto;
   text-align: center;
}

.city-temp-container, .city-wind-container {
   display: flex;
   justify-content: space-around;
   padding: 3rem;
}

.city-temp-container div, .city-wind-container div {
   background-color: black;
   color: white;
   padding: 1rem;

}

.city-name {
   margin: 4rem 0;
}
