*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Work Sans', sans-serif;
   background: #33C1FF;
   color: #fff;
}

a {
   color: #fff;
   text-decoration: none;
   font-weight: 900;
   transition: color .3s ease-in-out;
}

a:hover {
   color: #ffdd33;
}

input:focus {
    outline-width: 0;
}

h1, h2, h3 {
   font-family: 'Crimson Text', serif;
}

h1 {
   font-size: 4rem;
}

button, input {
     font-family: 'Work Sans', sans-serif;
}

.container {
   display: grid;
   grid-template-columns: 3fr 2fr;
   height: 100vh;
}

.weather-image {
   background: url('./app/assets/start-background.jpg');
   background-size: cover;
}

.info-container {
   margin: 0 auto;
   display: flex;
   align-items: center;
}

.temp-display {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 6rem;
   margin-bottom: 9rem;
}

main {
   text-align: center;
   height: 60vh;
   margin-top: 9rem;
}

.city-temp {
   font-size: 6rem;
}

.city-and-temp {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.title-card {
   font-weight: 600;
   font-size: 1.5rem;
}

.high-low {
   display: flex;
   justify-content: center;
   padding-left: 1rem;
}

.high-low div {
   padding-left: 0.2rem;
}

.weather-description {
   margin-top: 2rem;
}

.weather-search {
   margin-top: 4rem;
}

.weather-search input {
   width: 100%;
   padding: .75rem;
   border-radius: 15px;
   text-align: center;
   border: none;
}

.weather-search button {
   border-radius: 5px;
   text-align: center;
   background: #007D9D;
   color: white;
   border: none;
   padding: .75rem 1.25rem;
   margin-top: 1rem;
   transition: color .3s ease-in-out;
   font-weight: 600;
}

.weather-search button:hover {
    color: #ffdd33;
}

footer {
   padding: 0.5rem;
   text-align: center;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: #007D9D;
}
